.todo-item {
    padding: 4px;
    margin: 2px;
    border: 2px solid rgb(234, 243, 155);
    cursor: pointer;
    background-color: rgb(138, 245, 138);
}

.todo-item.done {
    background-color: rgb(110, 112, 231);
}

.todo-item .deleteBtn {
    float: right;
}