/* внешние границы таблицы серого цвета толщиной 1px */
table {
    padding: 3px;
    text-align: center;
    border: 2px solid rgb(68, 117, 251);
    border-collapse: collapse;
}

/* границы ячеек первого ряда таблицы */
th {
    padding: 3px;
    text-align: center;
    width: 200px;
    border: 2px solid rgb(68, 117, 251);
    height: 30px;
    
}

/* границы ячеек тела таблицы */
td {
    padding: 3px;
    text-align: center;
    border: 2px solid rgb(68, 117, 251);
    width: 200px;
    height: 30px;
    
}

#input-table {
    padding: 3px;
    text-align: center;
    border-collapse: collapse;
}

.main-container {
    width: 900px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(134, 200, 150);
    padding-top: 20px;
    padding-top: 50px;
    border-radius: 15px;
}

.button-delete-user {
    min-width: 120px;
    color: #458FF6;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.1;
    border-radius: 15px;
    border: #458FF6 solid 1px;
    padding: 4px 14px;
    background-color: white;
    display: inline-block;
    text-align: center;
}

.button-add-user {
    min-width: 120px;
    color: #458FF6;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.1;
    border-radius: 15px;
    border: #458FF6 solid 1px;
    padding: 4px 14px;
    background-color: white;
    display: inline-block;
    text-align: center;
}